body {
  background-color: #01796F;
  color:white;
}
.box {
  display: flex;
  flex-direction: row;

}
.card {
  width: 50px;
  height: 317px;
}
.end {
  margin-left: auto;
  text-align: justify;
  height: 214px;
  width: 178px;
}
